@media screen and (max-width: calc(800em/ 16)) {
	.heart-diagnosis--main {
		width: 100%;
	}
}

@media screen and (max-width: calc(764em/ 16)) {
	.heart-diagnosis-from .input-ctr {
		width: 100%;
	}
}

@media screen and (max-width: calc(399em/ 16)) {
	html {
		font-size: 50%;
	}
	.heart-diagnosis-from .radios-ctr {
		flex-direction: column;
		align-items: start;
		gap: 0.8rem;
	}
}
